{% extends 'core/base.html' %}

{% block title %}{{ lead.name }} | {{ block.super }}{% endblock %}

{% block content %}
    <div class="py-6 px-6">
        <h1 class="mb-4 text-2xl font-bold">{{ lead.name }}</h1>

        {% if lead.description %}
            <p class="font-semibold text-gray-600 mb-2">Description:</p>
            <p class="mb-6">{{ lead.description }}</p>
        {% endif %}

        <div class="flex flex-col md:flex-row">
            <div class="md:w-1/3">
                <p class="font-semibold text-gray-600 mb-2">Priority:</p>
                <p class="mb-6">{{ lead.get_priority_display }}</p>
            </div>
            <div class="md:w-1/3">
                <p class="font-semibold text-gray-600 mb-2">Status:</p>
                <p class="mb-6">{{ lead.get_status_display }}</p>
            </div>
            <div class="md:w-1/3">
                <p class="font-semibold text-gray-600 mb-2">Created by:</p>
                <p class="mb-6">{{ lead.created_by }}</p>
            </div>
        </div>

        <div class="flex flex-col md:flex-row">
            <div class="md:w-1/2">
                <p class="font-semibold text-gray-600 mb-2">Created at:</p>
                <p class="mb-6">{{ lead.created_at|date:"d-M-Y H:i" }}</p>
            </div>
            <div class="md:w-1/2">
                <p class="font-semibold text-gray-600 mb-2">Modified at:</p>
                <p class="mb-6">{{ lead.modified_at|date:"d-M-Y H:i" }}</p>
            </div>
        </div>
        <hr class="my-4">
        <a class="py-2 px-6 bg-red-800  hover:underline hover:text-white rounded-xl" href="{% url 'lead:lead_delete' lead.pk %}">Delete</a>
        <a class="py-2 px-6 bg-teal-800  hover:underline hover:text-white rounded-xl" href="{% url 'lead:leads_edit' lead.pk %}">Edit</a>
        <a class="py-2 px-6 bg-blue-800  hover:underline hover:text-white rounded-xl" href="{% url 'lead:convert_to_client' lead.pk %}">Convert to client</a>
        <hr class="my-4">
        <div class="bg-gray-100 rounded-lg shadow-lg p-6">
            <h2 class="text-lg font-semibold mb-4">Comments</h2>
            {% for comment in lead.comments.all %}
                <div class="bg-white rounded-lg shadow-md p-4 mb-4">
                    <div class="flex items-center mb-2">
                    <img src="{{ comment.created_by.profile.image.url }}" alt="{{ comment.created_by.username }}" class="w-8 h-8 rounded-full mr-2">
                    <p class="text-sm font-medium">{{ comment.created_by.username }}</p>
                    <p class="text-gray-500 text-xs ml-auto">{{ comment.created_at|date:"M d, Y" }}</p>
                    </div>
                    <p class="text-gray-700">{{ comment.content }}</p>
                    {% if comment.created_by == request.user %}
                        <div class="mt-2 flex justify-end">
                            <a href="#" class="text-blue-500 hover:underline mr-2">Edit</a>
                            <form action="#" method="post">
                            {% csrf_token %}
                            <button type="submit" class="text-red-500 hover:underline">Delete</button>
                            </form>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            {% if user.is_authenticated %}
              <form action="{% url 'lead:add_comment' lead.id %}" method="post">
                {% csrf_token %}
                <textarea name="content" class="bg-gray-200 rounded-lg w-full p-2 mb-2" rows="3" placeholder="Add a comment..."></textarea>
                <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">Post Comment</button>
              </form>
            {% else %}
              <p class="text-sm mt-4"><a href="{% url 'user:login' %}" class="text-blue-500 hover:underline">Log in</a> to leave a comment.</p>
            {% endif %}
            <hr class="mt-4">
            <h2 class="text-lg">Files</h2>
                <form method="post" action="." enctype="multipart/form-data">
                    {% csrf_token %}
        
                    {{ fileform.as_p }}
        
                    <button class="py-2 px-6  bg-teal-500 hover:underline hover:text-white rounded-xl">Submit</button>
                </form>
            </div>
          

    {% endblock %}
