{% extends 'core/base.html' %}

{% block title %}{{ team.name }} |{{ block.super }}{% endblock %}

{% block content %}
<div class="py-6 px-6 bg-gray-100">
    <h1 class="text-2xl font-bold mb-4">{{ team.name }}</h1>
    <h2 class="p-2 font-serif text-sm font-medium">Team Owner: {{ team.created_by }}</h1>
        {% if team and team.created_by == request.user %}
        <a href="{% url 'team:edit_team' team.id %}" class="mb-4 px-2 text-teal-600 hover:text-teal-800 hover:underline mr-4">Edit Team</a>
    {% endif %}
</div>
<div class="mt-4">
    <h3 class="text-lg font-medium">Team members</h3>
    {% for member in team.members.all %}
        <p>{{ member.username }}</p>
    {% endfor %}
</div>

{% endblock %}